* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
  color: #2c2c2c;
  background: #f7f5f1;
}

button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}
